<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523297595944-8720ahdl16f7djfh0v58lr8vhhhc3r5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523297595944-8720ahdl16f7djfh0v58lr8vhhhc3r5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDH-hH9rjw1NOucVM4L7vHciZB8n_w2J58</string>
	<key>GCM_SENDER_ID</key>
	<string>523297595944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>massimilianobonafede.Breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-f6ff1</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-f6ff1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523297595944:ios:9e23e80cd94cab86</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-f6ff1.firebaseio.com</string>
</dict>
</plist>